
extends ./_layout/main.pug
block vars
	- const title = 'GRID'
block contents
	.g
		.card(style='--height: 20vh')
			.header
				.left
					span.icon share
				span.icon person
				span= 'HEADER'.repeat(10)
				.right
					span.icon key_vertical
			.body
				p= '0123456789'.repeat(200)
			.footer FOOTER
		.card(style='--height: 20vh')
			.header= 'HEADER'.repeat(10)
				.right
					span.icon key_vertical
			.body
				p= '0123456789'.repeat(200)
			.footer FOOTER
		.card(style='--height: 20vh')
			.header= 'HEADER'.repeat(10)
				.left
					span.icon share
			.body
				p= '0123456789'.repeat(200)
		.card(style='--height: 20vh')
			.body
				p= '0123456789'.repeat(200)
		each _ in Array(10)
			.card(style='--height: 20vh')
				.body
					p= '0123456789'
	style
		:scss
