
extends ./_layout/navi.pug
block vars
	- const title = 'GRID'
block contents
	.g
		.box= '0123456789'.repeat(200)
		.g-card
			.header
				.left
					span.icon share
				span.icon person
				span= 'HEADER'.repeat(10)
				.right
					span.icon key_vertical
			.body
				p= '0123456789'.repeat(200)
			.footer FOOTER
		.g-card
			.header= 'HEADER'.repeat(10)
				.right
					span.icon key_vertical
			.body
				p= '0123456789'.repeat(200)
			.footer FOOTER
		.g-card
			.header= 'HEADER'.repeat(10)
				.left
					span.icon share
			.body
				p= '0123456789'.repeat(200)
		each _ in Array(10)
			.box 0123456789
	style
		:scss
